<a href="https://colab.research.google.com/github/Givari17/Project1/blob/main/Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd

In [28]:
#create series
number_list = pd.Series([1,2,3,4,5,6])

In [29]:
#create DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                          ['a','b','c'],
                          [3,4,5],
                          ['d',4,6]])

In [30]:
matrix_list

   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [31]:
number_list

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [32]:
print("[5] attribute .copy()")

[5] attribute .copy()

In [33]:
# using type for check data type
type(matrix_list)

pandas.core.frame.DataFrame

In [34]:
#check_index
number_list.index

RangeIndex(start=0, stop=6, step=1)

In [35]:
#check_index
matrix_list.index

RangeIndex(start=0, stop=4, step=1)

In [36]:
#check-column
matrix_list.columns

RangeIndex(start=0, stop=3, step=1)

In [37]:
#menggunakan iloc
matrix_list.iloc[0:2,2].to_list()

[3, 'c']

## Creating Series & Dataframe from list

In [38]:
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object

In [39]:
ex_list_of_list = [[1,'a','b','c'],
                   [2.5,'d','e','f'],
		           [5, 'g','h','i'],
		           [7.5,'j',10.5,'l']]
ex_list_of_list

[[1, 'a', 'b', 'c'],
 [2.5, 'd', 'e', 'f'],
 [5, 'g', 'h', 'i'],
 [7.5, 'j', 10.5, 'l']]

In [40]:
index = ['dq','lab','kar','lan']
cols = ['float','char','obj','char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

## Creating Series & DataFrame from Dictionary

In [41]:
# Creating series from dictionary
dict_series = {'1':'a',
			   '2':'b',
			   '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)
# Creating dataframe from dictionary
df_series = {'1':['a','b','c'],
			 '2':['b','c','d'],
			 '4':[2,3,'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object
   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

## Creating Series & DataFrame from Numpy Array

In [42]:
import numpy as np
# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)
# Creating dataframe from numpy array (2D)
arr_df = np.array([[1,2,3,5],
                   [5,6,7,8],
                   ['a','b','c','10']])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [43]:
ex_df

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [44]:
#melakukan slicing dengan iloc
ex_df.iloc[0:2,2:4]

   2  3
0  3  5
1  7  8

In [45]:
#melakukan slicing dengan loc
ex_df.loc[0:1,2:3]

   2  3
0  3  5
1  7  8

In [46]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep='\t')

## Another Indexing

In [47]:
df

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000
3,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0520,BRAND_B,12,450000
4,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1513,BRAND_G,3,1500000
...,...,...,...,...,...,...,...,...,...
96,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3388,BRAND_S,10,450000
97,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3082,BRAND_R,18,1045000
98,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3354,BRAND_S,24,450000
99,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3357,BRAND_S,24,450000
100,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P0422,BRAND_B,4,1325000

In [48]:
import pandas as pd 
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Index dari df
print("Index:", df.index)
# Column dari df
print("Columns:",df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [49]:
df

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000
3,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0520,BRAND_B,12,450000
4,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1513,BRAND_G,3,1500000
...,...,...,...,...,...,...,...,...,...
96,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3388,BRAND_S,10,450000
97,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3082,BRAND_R,18,1045000
98,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3354,BRAND_S,24,450000
99,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3357,BRAND_S,24,450000
100,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P0422,BRAND_B,4,1325000

## Indexing Part 3

In [50]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_id', 'customer_id', 'product_id','order_id'])
# Print nama dan level dari multi index
# for name, ___ in zip(df_x.___.___, df_x.___.___):
#     print(___,':',___)

In [51]:
df_x.head()

                                          order_date             city  \
order_id customer_id product_id order_id
1612339  18055       P0648      1612339   2019-01-01  Jakarta Selatan
                     P3826      1612339   2019-01-01  Jakarta Selatan
                     P1508      1612339   2019-01-01  Jakarta Selatan
                     P0520      1612339   2019-01-01  Jakarta Selatan
                     P1513      1612339   2019-01-01  Jakarta Selatan

                                             province    brand  quantity  \
order_id customer_id product_id order_id
1612339  18055       P0648      1612339   DKI Jakarta  BRAND_C         4
                     P3826      1612339   DKI Jakarta  BRAND_V         8
                     P1508      1612339   DKI Jakarta  BRAND_G        12
                     P0520      1612339   DKI Jakarta  BRAND_B        12
                     P1513      1612339   DKI Jakarta  BRAND_G         3

                                          item_price
order_id customer_id product_id order_id
1612339  18055       P0648      1612339      1934000
                     P3826      1612339       604000
                     P1508      1612339       747000
                     P0520      1612339       450000
                     P1513      1612339      1500000

In [52]:
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_id : Int64Index([1612339, 1612342, 1612345, 1612369, 1612372, 1612375, 1612378,
            1612381, 1612384, 1612387, 1612390],
           dtype='int64', name='order_id')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')
product_id : Index(['P0029', 'P0040', 'P0041', 'P0116', 'P0117', 'P0219', 'P0255', 'P0327',
       'P0422', 'P0449', 'P0491', 'P0515', 'P0517', 'P0520', 'P0525', 'P0535',
       'P0648', 'P0704', 'P0708', 'P0709', 'P0784', 'P0791', 'P0792', 'P0931',
       'P0968', 'P1118', 'P1251', 'P1255', 'P1305', 'P1306', 'P1307', 'P1329',
       'P1342', 'P1469', 'P1508', 'P1513', 'P1597', 'P1600', 'P1679', 'P1680',
       'P1683', 'P1684', 'P1685', 'P1700', 'P1741', 'P1742', 'P1780', 'P1800',
       'P1813', 'P1867', 'P1945', 'P2086', 'P2089', 'P2103', 'P2154', 'P2159',
       'P2325', 'P2494', 'P2556', 'P2575', 'P2594', 'P2641', 'P2660', 'P2707',
       'P2760', 'P2783', 'P2806', 'P2866', 'P2881', 'P2928', 'P2935', 'P2946',
       'P2964', 'P3006', 'P3082', 'P3122', 'P3132', 'P3354', 'P3357', 'P3362',
       'P3388', 'P3409', 'P3412', 'P3484', 'P3599', 'P3665', 'P3826', 'P3837',
       'P3911', 'P4009', 'P4025', 'P4057', 'P4059', 'P4060', 'P4075'],
      dtype='object', name='product_id')
order_id : Int64Index([1612339, 1612342, 1612345, 1612369, 1612372, 1612375, 1612378,
            1612381, 1612384, 1612387, 1612390],
           dtype='int64', name='order_id')

## Indexing part 4

In [53]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv"
, sep="\t", nrows=10)

In [54]:
df

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000
3,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0520,BRAND_B,12,450000
4,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1513,BRAND_G,3,1500000
5,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3911,BRAND_V,3,2095000
6,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1780,BRAND_H,3,2095000
7,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3132,BRAND_S,3,1745000
8,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1342,BRAND_F,6,1045000
9,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2556,BRAND_P,6,1045000

In [55]:
# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv"
, sep="\t", nrows=10)
# Cetak data frame awal
print("Dataframe awal:\n", df)
# Set index baru
df.index = ["pesanan ke-" + str(i) for i in range(1, 11)]
# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000
Dataframe dengan index baru:
                order_id  order_date  customer_id             city  \
pesanan ke-1    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-2    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-3    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-4    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-5    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-6    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-7    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-8    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-9    1612339  2019-01-01        18055  Jakarta Selatan
pesanan ke-10   1612339  2019-01-01        18055  Jakarta Selatan

                  province product_id    brand  quantity  item_price
pesanan ke-1   DKI Jakarta      P0648  BRAND_C         4     1934000
pesanan ke-2   DKI Jakarta      P3826  BRAND_V         8      604000
pesanan ke-3   DKI Jakarta      P1508  BRAND_G        12      747000
pesanan ke-4   DKI Jakarta      P0520  BRAND_B        12      450000
pesanan ke-5   DKI Jakarta      P1513  BRAND_G         3     1500000
pesanan ke-6   DKI Jakarta      P3911  BRAND_V         3     2095000
pesanan ke-7   DKI Jakarta      P1780  BRAND_H         3     2095000
pesanan ke-8   DKI Jakarta      P3132  BRAND_S         3     1745000
pesanan ke-9   DKI Jakarta      P1342  BRAND_F         6     1045000
pesanan ke-10  DKI Jakarta      P2556  BRAND_P         6     1045000

## Indexing part 5

In [56]:
# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date","order_id"])
# Cetak data frame untuk 8 data teratas
print("Dataframe:\n", df)

Dataframe:
                      customer_id             city          province  \
order_date order_id
2019-01-01 1612339         18055  Jakarta Selatan       DKI Jakarta
           1612339         18055  Jakarta Selatan       DKI Jakarta
           1612339         18055  Jakarta Selatan       DKI Jakarta
           1612339         18055  Jakarta Selatan       DKI Jakarta
           1612339         18055  Jakarta Selatan       DKI Jakarta
...                          ...              ...               ...
           1612390         12681         Makassar  Sulawesi Selatan
           1612390         12681         Makassar  Sulawesi Selatan
           1612390         12681         Makassar  Sulawesi Selatan
           1612390         12681         Makassar  Sulawesi Selatan
           1612390         12681         Makassar  Sulawesi Selatan

                    product_id    brand  quantity  item_price
order_date order_id
2019-01-01 1612339       P0648  BRAND_C         4     1934000
           1612339       P3826  BRAND_V         8      604000
           1612339       P1508  BRAND_G        12      747000
           1612339       P0520  BRAND_B        12      450000
           1612339       P1513  BRAND_G         3     1500000
...                        ...      ...       ...         ...
           1612390       P3388  BRAND_S        10      450000
           1612390       P3082  BRAND_R        18     1045000
           1612390       P3354  BRAND_S        24      450000
           1612390       P3357  BRAND_S        24      450000
           1612390       P0422  BRAND_B         4     1325000

[101 rows x 7 columns]

In [57]:
df_week = pd.DataFrame({'day_number':[1,2,3,4,5,6,7],
                        'week_type':['weekday' for i in range(5)] + ['weekend' for i in range(2)]
                       })
df_week_ix = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
df_week.index = [df_week_ix, df_week['day_number'].to_list()]
df_week.index.names = ['name','num']

In [58]:
df_week

          day_number week_type
name num
Mon  1             1   weekday
Tue  2             2   weekday
Wed  3             3   weekday
Thu  4             4   weekday
Fri  5             5   weekday
Sat  6             6   weekend
Sun  7             7   weekend

In [59]:
print(df_week.index.names)

['name', 'num']

## Slicing part 1

In [60]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
df

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000
3,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0520,BRAND_B,12,450000
4,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1513,BRAND_G,3,1500000
...,...,...,...,...,...,...,...,...,...
96,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3388,BRAND_S,10,450000
97,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3082,BRAND_R,18,1045000
98,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3354,BRAND_S,24,450000
99,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3357,BRAND_S,24,450000
100,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P0422,BRAND_B,4,1325000

In [61]:
df[(df["customer_id"] == 18055) |
		          (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"]))]

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000
3,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0520,BRAND_B,12,450000
4,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1513,BRAND_G,3,1500000
5,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3911,BRAND_V,3,2095000
6,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1780,BRAND_H,3,2095000
7,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3132,BRAND_S,3,1745000
8,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1342,BRAND_F,6,1045000
9,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2556,BRAND_P,6,1045000
10,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2154,BRAND_M,4,1745000
11,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1685,BRAND_H,12,747000
12,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3665,BRAND_S,4,2375000
13,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0219,BRAND_A,8,1045000
14,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1680,BRAND_H,12,747000
15,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1679,BRAND_H,12,747000
16,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2159,BRAND_M,24,310000
17,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3837,BRAND_V,4,1500000
18,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2783,BRAND_P,2,555000
19,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1255,BRAND_E,3,1500000
20,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1118,BRAND_D,4,2795000
21,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P2660,BRAND_P,6,1045000
22,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1597,BRAND_G,18,520000
23,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0968,BRAND_C,6,904000
24,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P4075,BRAND_W,6,904000
25,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P4057,BRAND_W,4,2095000
26,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P4060,BRAND_W,6,2795000
27,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P4009,BRAND_W,6,1045000
60,1612375,2019-01-01,17091,Tangerang,Banten,P0116,BRAND_A,6,747000
70,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0041,BRAND_A,12,310000
77,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0040,BRAND_A,12,310000
80,1612378,2019-01-01,17470,Jakarta Pusat,DKI Jakarta,P0117,BRAND_A,4,2795000
92,1612387,2019-01-01,17228,Bogor,Jawa Barat,P0029,BRAND_A,12,310000

In [62]:
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Slice langsung berdasarkan kolom
df_slice = df.loc[(df["customer_id"] == 18055) &
		          (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"]))]
# print("Slice langsung berdasarkan kolom:\n", df_slice)

In [63]:
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Slice langsung berdasarkan kolom
df_slice = df.loc[(df["customer_id"] == 18055) &
		          (df["product_id"].isin(["P0029","P0040","P0041","P0116","P0117"]))
				 ]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
 Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []

## Slicing part 2

In [64]:
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set index dari df sesuai instruksi
df = df.set_index(["order_date","order_id","product_id"])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01",1612339,["P2154","P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
                                 customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta
                    P2159             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000
                    P2159       BRAND_M        24      310000

## Transforming Part 1

In [65]:
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())
# Gunakan method apply untuk merubah isi kolom menjadi lower case
df["brand"] = df["brand"].apply(lambda x: x.lower())
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah apply:\n", df["brand"].head())
# Gunakan method map untuk mengambil kode brand yaitu karakter terakhirnya
df["brand"] = df["brand"].map(lambda x: x[-1])
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah apply:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah map:
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object

## Transforming Part 2

In [66]:
import numpy as np
import pandas as pd
# number generator, set angka seed menjadi suatu angka, bisa semua angka, supaya hasil random nya selalu sama ketika kita run
np.random.seed(1234)
# create dataframe 3 baris dan 4 kolom dengan angka random
df_tr = pd.DataFrame(np.random.rand(3,4))
# Cetak dataframe
print("Dataframe:\n", df_tr)
# Cara 1 dengan tanpa define function awalnya, langsung pake fungsi anonymous lambda x
df_tr1 = df_tr.applymap(lambda x: x**2 + 3*x + 2) 
print("\nDataframe - cara 1:\n", df_tr1)
# Cara 2 dengan define function 
def qudratic_fun(x):
	return x**2 + 3*x + 2
df_tr2 = df_tr.applymap(qudratic_fun)
print("\nDataframe - cara 2:\n", df_tr2)

Dataframe:
           0         1         2         3
0  0.191519  0.622109  0.437728  0.785359
1  0.779976  0.272593  0.276464  0.801872
2  0.958139  0.875933  0.357817  0.500995

Dataframe - cara 1:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

Dataframe - cara 2:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

### Handling Missing Value With Pandas

https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

## How to check missing value with pandas

In [67]:
import pandas as pd
# Baca file "https://storage.googleapis.com/dqlab-dataset/datacovid19.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak info dari df
print(df.info())
# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

## Treatment untuk missing value - Part 1

In [68]:
import pandas as pd
# Baca file "https://storage.googleapis.com/dqlab-dataset/datacovid19.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak ukuran awal dataframe
print("Ukuran awal df: %d baris, %d kolom." % df.shape)
# Drop kolom yang seluruhnya missing value dan cetak ukurannya
df = df.dropna(axis=1, how="all")  #all jika keseluruhan data missing value akan di apply
print("Ukuran df setelah buang kolom dengan seluruh data missing: %d baris, %d kolom." % df.shape)
# Drop baris jika ada satu saja data yang missing dan cetak ukurannya
df = df.dropna(axis=0,how="any") #any jika ada salah satu saja missing value maka akan di apply
print("Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
Ukuran df setelah buang kolom dengan seluruh data missing: 1000 baris, 12 kolom.
Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

## Treatment untuk missing value - Part 2

In [69]:
# Baca file "https://storage.googleapis.com/dqlab-dataset/datacovid19.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak unique value pada kolom province_state
print("Unique value awal:\n", df["province_state"].unique())
# Ganti missing value dengan string "unknown_province_state"
df["province_state"] = df["province_state"].fillna("unknown_province_state")
# Cetak kembali unique value pada kolom province_state
print("Unique value setelah fillna:\n", df["province_state"].unique())

Unique value awal:
 [nan 'US' 'Guam' 'Iowa']
Unique value setelah fillna:
 ['unknown_province_state' 'US' 'Guam' 'Iowa']

## Treatment untuk missing value - Part 3

In [70]:
# Baca file "https://storage.googleapis.com/dqlab-dataset/datacovid19.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak nilai mean dan median awal 
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# Isi missing value kolom active dengan median
df_median = df["active"].fillna(df["active"].median())
# Cetak nilai mean dan median awal setelah diisi dengan median
print("Fillna median: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# Isi missing value kolom active dengan mean
df_mean = df["active"].fillna(df["active"].mean())
# Cetak nilai mean dan median awal setelah diisi dengan mean
print("Fillna mean: mean = %f, median = %f." % (df["active"].mean(),df["active"].median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 192.571128, median = 41.000000.
Fillna mean: mean = 192.571128, median = 41.000000.

In [71]:
# Baca file "https://storage.googleapis.com/dqlab-dataset/datacovid19.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/datacovid19.csv")
# Cetak nilai mean dan median awal 
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# Isi missing value kolom active dengan median
df_median = df["active"].fillna(df["active"].median())
# Cetak nilai mean dan median awal setelah diisi dengan median
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))
# Isi missing value kolom active dengan mean
df_mean = df["active"].fillna(df["active"].mean())
# Cetak nilai mean dan median awal setelah diisi dengan mean
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(), df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.

## Treatment untuk missing value - Part 4

Di bagian ini akan menggunakan teknik interpolasi dalam mengisi nilai missing value pada suatu dataset.

Data yang menggunakan interpolasi untuk mengisi data yang hilang adalah time series data, yang secara default akan diisi dengan interpolasi linear.

In [72]:
import numpy as np
import pandas as pd
# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()
# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

Diberikan dataset â€˜retail_raw_test.csvâ€™

Baca dataset
Tipe data diubah menjadi tipe yang seharusnya
customer_id dari string ke int64,
quantity dari string ke int64,
item_price dari string ke int64
transform product_value supaya bentuknya seragam dengan format PXXXX, assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown".
trasnform order_date menjadi value dengan format YYYY-mm-dd
cek data hilang dari tiap kolom dan kemudian isi missing value
di brand dengan "no_brand", dan
cek dulu bagaimana missing value di city & province - isi missing value di city dan province dengan "unknown"
create column city/province dari gabungan city & province
membuat index berdasarkan city_provice, order_date, customer_id, order_id, product_id (cek index)
membuat kolom "total_price" sebagai hasil perkalian quantity dengan item_price
slice data hanya untuk Jan 2019

In [73]:
pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)

,order_id,order_date,customer_id,city,province,brand,quantity,item_price,product_value
0,1730350,"Dec 11, 2019",'13447,Surakarta,Jawa Tengah,BRAND_F,'24,'113000,1374.0
1,1677490,"Jul 31, 2019",'0,NaN,NaN,BRAND_F,'1,'1164000,1370.0
2,1704211,"Oct 18, 2019",'16128,Jakarta Pusat,DKI Jakarta,BRAND_H,'12,'747000,1679.0
3,1679695,"Aug 07, 2019",'16225,Yogyakarta,Yogyakarta,BRAND_H,'6,'590000,1708.0
4,1679080,"Aug 05, 2019",'0,NaN,NaN,BRAND_E,'2,'740000,1201.0
...,...,...,...,...,...,...,...,...,...
4995,1616509,"Jan 08, 2019",'12748,Jakarta Utara,DKI Jakarta,BRAND_B,'1,'1325000,449.0
4996,1724851,"Dec 03, 2019",'0,NaN,NaN,BRAND_H,'2,'1458000,1685.0
4997,1715698,"Nov 13, 2019",'16885,Bekasi,Jawa Barat,BRAND_S,'1,'450000,3206.0
4998,1668061,"Jul 03, 2019",'13571,Jakarta Utara,DKI Jakarta,BRAND_W,'25,'159000,4126.0
4999,1721713,"Nov 26, 2019",'14505,Jakarta Timur,DKI Jakarta,BRAND_J,'2,'740000,1890.0

In [74]:
# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

[1] BACA DATASET
    Dataset:
    order_id    order_date customer_id           city     province    brand  \
0   1730350  Dec 11, 2019      '13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019          '0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019      '16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019      '16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019          '0            NaN          NaN  BRAND_E

  quantity item_price  product_value
0      '24    '113000         1374.0
1       '1   '1164000         1370.0
2      '12    '747000         1679.0
3       '6    '590000         1708.0
4       '2    '740000         1201.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
    Info:
 None

In [75]:
# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

[2] UBAH TIPE DATA
    Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

In [76]:
# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
	if math.isnan(val):
		return "unknown"
	else:
		return 'P' + '{:0>4}'.format(str(val).split('.')[0])

# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id           city     province    brand  \
0   1730350  Dec 11, 2019        13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019            0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019        16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019        16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019            0            NaN          NaN  BRAND_E

   quantity  item_price product_id
0        24      113000      P1374
1         1     1164000      P1370
2        12      747000      P1679
3         6      590000      P1708
4         2      740000      P1201

In [77]:
# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.dtypes)

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd
    Tipe data:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
brand                  object
quantity                int64
item_price              int64
product_id             object
dtype: object

In [78]:
# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom 
print("    Info:\n", df.info())

[5] HANDLING MISSING VALUE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5000 non-null   int64
 1   order_date   5000 non-null   datetime64[ns]
 2   customer_id  5000 non-null   int64
 3   city         5000 non-null   object
 4   province     5000 non-null   object
 5   brand        5000 non-null   object
 6   quantity     5000 non-null   int64
 7   item_price   5000 non-null   int64
 8   product_id   5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
    Info:
 None

In [79]:
# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

[6] MEMBUAT KOLOM BARU city/province
   order_id order_date  customer_id    brand  quantity  item_price product_id  \
0   1730350 2019-12-11        13447  BRAND_F        24      113000      P1374
1   1677490 2019-07-31            0  BRAND_F         1     1164000      P1370
2   1704211 2019-10-18        16128  BRAND_H        12      747000      P1679
3   1679695 2019-08-07        16225  BRAND_H         6      590000      P1708
4   1679080 2019-08-05            0  BRAND_E         2      740000      P1201

               city/province
0      Surakarta/Jawa Tengah
1            unknown/unknown
2  Jakarta Pusat/DKI Jakarta
3      Yogyakarta/Yogyakarta
4            unknown/unknown

In [80]:
# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

[7] MEMBUAT HIERACHICAL INDEX
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

In [81]:
# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

[8] MEMBUAT KOLOM total_price
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936          10800000
                       2019-11-12 12360       1715116  P0758           5560000
                                                       P3042           3720000
                       2019-12-09 12374       1729036  P1660          11180000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000

In [82]:
# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G
                       2019-01-10 17392       1617952  P2137       BRAND_M
                       2019-01-14 15527       1618828  P3115       BRAND_S
                       2019-01-29 13253       1620289  P0099       BRAND_A
...                                                                    ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R
                                                       P3483       BRAND_S
                       2019-01-31 0           1621057  P1298       BRAND_F
                                                       P1773       BRAND_H
                                                       P2877       BRAND_R

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597              9
                       2019-01-10 17392       1617952  P2137              2
                       2019-01-14 15527       1618828  P3115              1
                       2019-01-29 13253       1620289  P0099             12
...                                                                     ...
unknown/unknown        2019-01-30 0           1620766  P3070              1
                                                       P3483              3
                       2019-01-31 0           1621057  P1298              1
                                                       P1773              5
                                                       P2877              1

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           520000
                       2019-01-10 17392       1617952  P2137          1062000
                       2019-01-14 15527       1618828  P3115          1045000
                       2019-01-29 13253       1620289  P0099           450000
...                                                                       ...
unknown/unknown        2019-01-30 0           1620766  P3070           593000
                                                       P3483           593000
                       2019-01-31 0           1621057  P1298           296000
                                                       P1773           593000
                                                       P2877          1486000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           4680000
                       2019-01-10 17392       1617952  P2137           2124000
                       2019-01-14 15527       1618828  P3115           1045000
                       2019-01-29 13253       1620289  P0099           5400000
...                                                                        ...
unknown/unknown        2019-01-30 0           1620766  P3070            593000
                                                       P3483           1779000
                       2019-01-31 0           1621057  P1298            296000
                                                       P1773           2965000
                                                       P2877           1486000

[334 rows x 4 columns]